.teachers{
    
    background-color: rgb(192, 232, 236);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
   
}

.teachers-button{
    background-color: rgb(224, 92, 15);
    color: white;
    width: 200px;
    border: 2px solid grey;
    border-radius: 5px;
    height: 30px;
    font-weight: 700;
}
.teachers-img{

    width:200px ;
    height: 200px;
    border-radius: 5px;
    

}